body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Para evitar barras de desplazamiento innecesarias */
}

#auth {
    display: block;
}

#app {
    display: none;
}

video {
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin-bottom: 20px;
}

#output {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: green;
}
